<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Search Endpoint</key>
	<string>https://api.imgur.com/3/gallery/search/</string>
	<key>Search HTTP Method</key>
	<string>GET</string>
	<key>Search Authorization</key>
	<string>Client-ID 1ceddedc03a5d71</string>
</dict>
</plist>
